*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(46, 213, 171);
    z-index: 1;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.leftnav{
    padding: 8px 8px;
    font-size: 30px;
}

.rightnav ul{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightnav ul li{
    list-style: none;
    padding: 10px 25px;
}

.rightnav ul li a{
    text-decoration: none;
    color: black;
}

.rightnav ul li a:hover{
    letter-spacing: 1px;
    color: rgb(46, 46, 46);
}

.content{
    display: flex;
    margin-top: 50px;
    align-items: start;
    padding-left: 50px;
}

.content h1{
    padding: 20px 0px;
    font-size: 50px;
}

.content h5{
    font-size: 15px;
}

.footer{
    display: flex;
    flex-direction: column;
    color: rgb(10, 10, 14);
    font-weight: 600;
    background: rgb(46, 213, 171);
    margin-top: 30px;
}

.footer p{
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    color: black
}